@using LakewoodScoop.Data
@model IEnumerable<LakewoodScoopPost>


<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Date</th>
    </tr>
    @foreach (var post in Model)
    {
        <tr>
            <td><img style="width: 150px; max-height: 200px;" src="@post.Image" /></td>
            <td>
                <a href="@post.Url" target="_blank">@post.Title</a>
            </td>
            <td>
                @if (post.Date!=null)
                {
                    <span>@post.Date</span>
                }
            </td>
        </tr>
    }
</table>